#doctors-team {
  .doctors-team {
    padding: 60px 0;
    background-color: #f8f9fa;
    width: 100%;
    .doctors {
      .header-team {
        display: flex;
        justify-content: center;
        margin: 130px 0;
        .head {
          h1 {
            text-align: center;
            letter-spacing: 0.5px;
            font-size: 28px;
            line-height: 1.5;
            font-weight: 600;
            color: #212529;
          }
          p {
            text-align: center;
            color: #8492a6;
            max-width: 600px;
            font-size: 15px;
            line-height: 1.6;
            margin-top: 20px;
          }
        }
        .links {
          display: flex;
          justify-content: center;
          column-gap: 15px;
          margin-top: 40px;
          span {
            display: flex;
            align-items: center;
            column-gap: 10px;
            a {
              color: #212529;
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 1px;
              transition: all 0.5s;
              &.active {
                color: #396cf0;
              }
              &:hover {
                color: #396cf0;
              }
            }
            .antd-icon {
              font-size: 8px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .card-doctors-team {
    background-color: #fff;
    padding: 80px 0;
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      margin-top: 60px;
      .card {
        width: 49%;
        box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        display: flex;
        .image {
          overflow: hidden;
          display: flex;
          justify-content: center;
          width: 50%;
          padding: 10px;
          img {
            max-width: 100%;
            height: auto;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
        .about-doctor {
          padding: 20px;
          width: 50%;
          h4 {
            a {
              font-weight: 600;
              font-size: 18px;
              line-height: 1.2;
              color: black;
            }
          }
          .job {
            color: #8492a6;
            font-size: 13.5px;
            margin-top: 10px;
          }
          .star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .star-icon {
              .fa-sharp {
                color: #f1b561;
                margin-right: 8px;
                font-size: 11px;
              }
            }
            .star-count {
              font-size: 15px;
              color: #8492a6;
            }
          }
          .about-work {
            margin-top: 10px;
            .icon {
              color: #396cf0;
              font-size: 12px;
            }
            span {
              font-size: 13.5px;
              color: #8492a6;
              padding-left: 8px;
            }
          }
          .card-icons {
            margin-top: 20px;
            display: flex;
            column-gap: 5px;
            .circle {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              background-color: #396cf01a;
              background-color: rgba(57, 108, 240, 0.1);
              border: 1px solid rgba(57, 108, 240, 0.1);
              -webkit-box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
              box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: all 0.4s;
              .fa-brands {
                color: #396cf0;
                font-size: 13px;
                transition: all 0.4s;
              }
              &:hover {
                background-color: #396cf0;
                .fa-brands {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
