.App {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
  }
}
.DarkMode {
  background-color: #1c2836;
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
  }
  #header {
    .header {
      .navbar {
        nav {
          ul {
            li {
              a {
                color: #fff;
                .menu-arrow {
                  border: solid #fff;
                  border-radius: 0.5px;
                  border-width: 0 2px 2px 0;
                  padding: 2px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  margin-left: 10px;
                  position: absolute;
                  top: 5px;
                }
                &.active {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 2px;
                    margin-left: 10px;
                    position: absolute;
                    top: 5px;
                  }
                }
                &:hover {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0px 2px 2px 0px;
                    padding: 2px;
                    -webkit-transform: rotate(225deg);
                    transform: rotate(225deg);
                    position: absolute;
                    top: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .active-menu {
        nav {
          ul {
            background-color: #1c2836;
            li {
              a {
                color: #fff;
                .menu-arrow {
                  border: solid #fff;
                  border-width: 0 2px 2px 0;
                  padding: 2px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  margin-left: 20px;
                  position: absolute;
                  top: 5px;
                }
                &.active {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 2px;
                    margin-left: 10px;
                    position: absolute;
                    top: 5px;
                  }
                }
                &:hover {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0px 2px 2px 0px;
                    padding: 2px;
                    -webkit-transform: rotate(225deg);
                    transform: rotate(225deg);
                    position: absolute;
                    top: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .settings-profil {
        .user {
          border: 1px solid #3e4c61e7 !important;
          box-shadow: 0px 0px 5px 0px #4a5f7ce7 !important;
          cursor: pointer;
          &:hover {
            border: 1px solid #485768 !important;
          }
          .fa-solid {
            color: #fff;
          }
        }
        .user-setting {
          position: relative;
          .user-profile {
            box-shadow: 0px 0px 5px 0px #4a5f7ce7 !important;
            background-color: #1c2836;
            ul {
              li {
                a {
                  color: #fff;
                }
              }
            }
            .patient-profile {
              h4 {
                color: #4c76e2;
              }
            }
          }
        }
      }
    }
    .background {
      background-color: #0000008a;
      .search-now {
        background-color: #1c2836;
        h1 {
          color: #fff;
        }
        .search {
          .input-control {
            border: 1px solid #39495c9a;
            input {
              background-color: #1c2836;
              color: #fff;
            }
          }
        }
      }
    }
    #settings {
      .background-setting {
        background-color: #0000008a;
      }
      .settings {
        background-color: #1c2836;
        .head {
          border-bottom: 1px solid #39495c9a;
        }
        h4 {
          color: #fff;
        }
      }
    }
  }
  #fixed-header {
    background-color: #1c2836;
    box-shadow: 0px 0px 3px 0px #2e4157;
    .header {
      .navbar {
        nav {
          ul {
            li {
              a {
                color: #fff;
                .menu-arrow {
                  border: solid #fff;
                  border-radius: 0.5px;
                  border-width: 0 2px 2px 0;
                  padding: 2px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  margin-left: 10px;
                  position: absolute;
                  top: 5px;
                }
                &.active {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 2px;
                    margin-left: 10px;
                    position: absolute;
                    top: 5px;
                  }
                }
                &:hover {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0px 2px 2px 0px;
                    padding: 2px;
                    -webkit-transform: rotate(225deg);
                    transform: rotate(225deg);
                    position: absolute;
                    top: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .active-menu {
        nav {
          ul {
            background-color: #1c2836;
            li {
              a {
                color: #fff;
                .menu-arrow {
                  border: solid #fff;
                  border-width: 0 2px 2px 0;
                  padding: 2px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  margin-left: 20px;
                  position: absolute;
                  top: 5px;
                }
                &.active {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 2px;
                    margin-left: 10px;
                    position: absolute;
                    top: 5px;
                  }
                }
                &:hover {
                  color: #396cf0;
                  .menu-arrow {
                    border: solid #396cf0;
                    border-radius: 0.5px;
                    border-width: 0px 2px 2px 0px;
                    padding: 2px;
                    -webkit-transform: rotate(225deg);
                    transform: rotate(225deg);
                    position: absolute;
                    top: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .settings-profil {
        .user {
          border: 1px solid #3e4c61e7 !important;
          box-shadow: 0px 0px 5px 0px #4a5f7ce7 !important;
          cursor: pointer;
          &:hover {
            border: 1px solid #485768 !important;
          }
          .fa-solid {
            color: #fff;
          }
        }
        .user-setting {
          position: relative;
          .user-profile {
            box-shadow: 0px 0px 5px 0px #4a5f7ce7 !important;
            background-color: #1c2836;
            ul {
              li {
                a {
                  color: #fff;
                }
              }
            }
            .patient-profile {
              h4 {
                color: #4c76e2;
              }
            }
          }
        }
      }
    }
    .background {
      background-color: #0000008a;
      .search-now {
        background-color: #1c2836;
        h1 {
          color: #fff;
        }
        .search {
          .input-control {
            border: 1px solid #39495c9a;
            input {
              background-color: #1c2836;
              color: #fff;
            }
          }
        }
      }
    }
    #settings {
      .background-setting {
        background-color: #0000008a;
      }
      .settings {
        background-color: #1c2836;
        .head {
          border-bottom: 1px solid #39495c9a;
        }
        h4 {
          color: #fff;
        }
      }
    }
  }
  #search-doctors {
    .search-doctors {
      .search {
        h1 {
          color: #fff;
        }
        .input-control {
          border: 1px solid #293546e7 !important;
          input {
            background-color: #1c2836;
          }
        }
      }
    }
  }
  #logos {
    background-color: #1f2d3d !important;
  }
  #categories {
    padding: 80px 0;
    .categories {
      h1 {
        color: #fff;
      }
      .cards {
        .card {
          box-shadow: 0px 0px 3px 0px #293546e7 !important;
          h4 {
            color: #fff;
          }
        }
      }
    }
  }
  #about {
    .about {
      h1 {
        color: #fff;
      }
      p {
        color: #9bacc4 !important;
      }
    }
    .video {
      .img {
        .play-video {
          a {
            background-color: #1c2836 !important;
          }
        }
      }
    }
  }
  #our-work {
    .our-work {
      .cards {
        .card {
          background-color: #1c2836 !important;
          .text {
            h4 {
              color: #fff;
            }
            p {
              color: #9bacc4 !important;
            }
          }
          &:hover {
            background-color: #305ccc !important;
          }
        }
      }
    }
  }
  #our-specialists {
    .our-specialists {
      h1 {
        color: #fff;
      }
      .head-title {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: #9bacc4 !important;
        }
      }
      .cards-doctor {
        .card {
          box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
          .about-doctor {
            h4 {
              a {
                color: #fff;
              }
            }
            .job {
              color: #9bacc4 !important;
            }
            .star {
              .star-count {
                color: #9bacc4 !important;
              }
            }
            .about-work {
              span {
                color: #9bacc4 !important;
              }
            }
          }
        }
      }
    }
  }
  #question-answer {
    .question-answer {
      .accordion {
        .ant-collapse {
          background-color: #1c2836 !important;
          .antd-icon {
            color: #fff !important;
            &.blue {
              color: #305ccc !important;
            }
          }
          .ant-collapse-item {
            background-color: #1f2d3d !important;
            border: 1px solid #2e4157 !important;
            .ant-collapse-header {
              .ant-collapse-header-text {
                color: #fff !important;
              }
            }
            &.blue {
              .ant-collapse-header {
                .ant-collapse-header-text {
                  color: #305ccc !important;
                }
              }
            }
          }
        }
        .ant-collapse-content-box {
          background-color: #1c2836 !important;
          color: #9bacc4 !important;
        }
      }
    }
  }
  #contact {
    .contact {
      h1 {
        color: #fff;
      }
      .head-title {
        p {
          color: #9bacc4 !important;
        }
      }
    }
  }
  #wishlist-page {
    .wishlist-page {
      background-color: #1f2d3d;
      .wishlist-head {
        .header-team {
          .head {
            h1 {
              color: #fff;
            }
          }
          .links {
            span {
              a {
                color: #fff;
              }
              .antd-icon {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .fav-doctors {
      background-color: #1c2836;
      .cards {
        .card {
          box-shadow: 0 0 2px 0px rgba(230, 227, 227, 0.15);
          .about-doctor {
            h4 {
              a {
                color: #fff;
              }
            }
            .job {
              color: #9bacc4 !important;
            }
            .star {
              .star-count {
                color: #9bacc4 !important;
              }
            }
            .about-work {
              span {
                color: #9bacc4 !important;
              }
            }
          }
        }
      }
    }
  }
  #about-page {
    #about-with-video {
      .about-with-video {
        h1 {
          color: #fff;
        }
      }
    }
    #departments {
      .departments {
        h1 {
          color: #fff;
        }
      }
      .about-depatrtments {
        .card {
          h4 {
            color: #fff;
          }
        }
      }
    }
    #doctors {
      .doctors {
        h1 {
          color: #fff;
        }
        .cards-doctor {
          .card {
            .about-doctor {
              h4 {
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  #departments-page {
    #departments {
      .departments {
        .card {
          h4 {
            color: #fff;
          }
        }
      }
    }
  }
  #faqs-page {
    #category {
      h1 {
        color: #fff;
      }
      .cards {
        .card {
          h4 {
            color: #fff;
          }
        }
      }
    }
    #questions {
      .questions {
        h1 {
          color: #fff;
        }
        .accordion {
          .ant-collapse {
            background-color: #1c2836 !important;
            .antd-icon {
              color: #fff !important;
              &.blue {
                color: #305ccc !important;
              }
            }
            .ant-collapse-item {
              background-color: #1f2d3d !important;
              border: 1px solid #2e4157 !important;
              .ant-collapse-header {
                .ant-collapse-header-text {
                  color: #fff !important;
                }
              }
              &.blue {
                .ant-collapse-header {
                  .ant-collapse-header-text {
                    color: #305ccc !important;
                  }
                }
              }
            }
          }
          .ant-collapse-content-box {
            background-color: #1c2836 !important;
            color: #9bacc4 !important;
          }
        }
      }
    }
    #still-questions {
      .still-questions {
        h1 {
          color: #fff;
        }
        .contact {
          .card {
            h4 {
              color: #fff;
            }
          }
        }
      }
    }
  }
  #terms-policy-page {
    #terms-policy {
      background-color: #1f2d3d;
      .terms-policy {
        .head {
          h1 {
            color: #fff;
          }
          .links {
            span {
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
    #introduction {
      .introduction-body {
        .introduction {
          box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);

          h3 {
            color: #fff;
          }
          p {
            color: #9bacc4 !important;
          }
          .accordion {
            .ant-collapse {
              background-color: #1c2836 !important;
              .antd-icon {
                color: #fff !important;
                &.blue {
                  color: #305ccc !important;
                }
              }
              .ant-collapse-item {
                background-color: #1f2d3d !important;
                border: 1px solid #2e4157 !important;
                .ant-collapse-header {
                  .ant-collapse-header-text {
                    color: #fff !important;
                  }
                }
                &.blue {
                  .ant-collapse-header {
                    .ant-collapse-header-text {
                      color: #305ccc !important;
                    }
                  }
                }
              }
            }
            .ant-collapse-content-box {
              background-color: #1c2836 !important;
              color: #9bacc4 !important;
            }
          }
        }
      }
    }
  }
  #privacy-policy-page {
    #privacy-policy {
      background-color: #1f2d3d;
      .privacy-policy {
        .head {
          h1 {
            color: #fff;
          }
          .links {
            span {
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
    #overview {
      .overview {
        .text {
          box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
          h3 {
            color: #fff;
          }
          p {
            color: #9bacc4 !important;
          }
        }
      }
    }
  }
  #contact-page {
    #contact-us {
      .contact-us {
        .contact {
          form {
            box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
            h3 {
              color: #fff;
            }
            .input-control {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                background-color: transparent;
                &::placeholder {
                  color: rgba(243, 243, 243, 0.795);
                }
              }
              textarea {
                border: 1px solid #384558e7;
                background-color: transparent;
                &::placeholder {
                  color: rgba(243, 243, 243, 0.795);
                }
              }
            }
          }
        }
      }
    }
  }
  #login-page {
    .login {
      .form {
        background-color: #1c2836;
        h2 {
          color: #fff;
        }
        form {
          .input-control {
            p {
              label {
                color: #fff;
              }
            }
            input {
              border: 1px solid #384558e7;
              background-color: transparent;
              &::placeholder {
                color: rgba(243, 243, 243, 0.795);
              }
            }
            select {
              border: 1px solid #384558e7;
              background-color: transparent;
              &:optional {
                color: rgba(243, 243, 243, 0.795);
                background-color: #1c2836;
              }
            }
          }
          .input-image {
            p {
              label {
                color: #fff;
              }
            }
            input {
              border: 1px solid #384558e7;
              &::-webkit-file-upload-button {
                visibility: hidden;
              }
              &::before {
                font-weight: 300;
                color: rgba(190, 190, 190, 0.726);
              }
            }
          }
          .new-account {
            p {
              color: #c4c2c2;
            }
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  #sign-up-page {
    .signup {
      form {
        background-color: #1c2836;
        h2 {
          color: #fff;
        }
        .input-control {
          p {
            label {
              color: #fff;
            }
          }
          input {
            border: 1px solid #384558e7;
            background-color: transparent;
            &::placeholder {
              color: rgba(243, 243, 243, 0.795);
            }
          }
          select {
            border: 1px solid #384558e7;
            background-color: transparent;
            &:optional {
              color: rgba(243, 243, 243, 0.795);
              background-color: #1c2836;
            }
          }
        }
        .input-image {
          p {
            label {
              color: #fff;
            }
          }
          input {
            border: 1px solid #384558e7;
            &::-webkit-file-upload-button {
              visibility: hidden;
            }
            &::before {
              font-weight: 300;
              color: rgba(190, 190, 190, 0.726);
            }
          }
        }
        .for-select {
          .select {
            select {
              background-color: #1c2836;
              border: 1px solid #3e4c61e7;
              &:optional {
                color: #fff;
              }
            }
          }
        }
        .have-account {
          p {
            color: #c4c2c2;
          }
          a {
            color: #fff;
          }
        }
      }
    }
  }
  #footer {
    background-color: #212f40;
  }
  #doctors-team {
    .doctors-team {
      background-color: #1f2d3d;
      .doctors {
        .header-team {
          .head {
            h1 {
              color: #fff;
            }
            p {
              color: #9bacc4 !important;
            }
          }
          .links {
            display: flex;
            justify-content: center;
            column-gap: 15px;
            margin-top: 40px;
            span {
              a {
                color: #fff;
              }
              .antd-icon {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .card-doctors-team {
      background-color: #1c2836;
      .cards {
        .card {
          box-shadow: 0 0 2px 0px rgba(230, 227, 227, 0.15);
          .about-doctor {
            h4 {
              a {
                color: #fff;
              }
            }
            .job {
              color: #9bacc4 !important;
            }
            .star {
              .star-count {
                color: #9bacc4 !important;
              }
            }
            .about-work {
              span {
                color: #9bacc4 !important;
              }
            }
          }
        }
      }
    }
  }
  #admin-header {
    border-bottom: 1px solid #343f4ee7;
    .header {
      .header-body {
        background-color: #1c2836;
      }
      .user-item {
        background-color: #1c2836;
      }
    }
    #settings {
      .background-setting {
        background-color: #0000008a;
      }
      .settings {
        background-color: #1c2836;
        .head {
          border-bottom: 1px solid #39495c9a;
        }
        h4 {
          color: #fff;
        }
      }
    }
  }
  .admin-navbar {
    border-right: 1px solid #343f4ee7;
    background-color: #1c2836;
    nav {
      ul {
        .nav-menu {
          .icon {
            .fa-solid {
              color: #9bacc4;
            }
          }
          a {
            color: #9bacc4;
          }
        }
      }
    }
  }
  #admin-page {
    background-color: #1f2d3d;
    .dashboard {
      .body-admin {
        h1 {
          color: #fff;
        }
      }
    }
  }
  #doctors-list {
    .doctors {
      h1 {
        color: #fff;
      }
      .links {
        a {
          color: #fff;
        }
      }
      .antd-icon {
        color: #fff;
      }
      .doctors-list {
        .doctor {
          .card {
            box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
            .about-doctor {
              h4 {
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    #update-doctor {
      form {
        box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
        background-color: #1c2836;
        .close {
          color: #fff;
        }
        .form {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          .left,
          .right {
            width: 50%;
            .input-control {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                background-color: transparent;
                color: #fff;
              }
              select {
                border: 1px solid #384558e7;
                background-color: transparent;
                color: #fff;
                &:optional {
                  background-color: #1c2836;
                }
              }
            }
            .input-image {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                &::-webkit-file-upload-button {
                  visibility: hidden;
                }
                &::before {
                  font-weight: 300;
                  color: rgba(190, 190, 190, 0.726);
                }
              }
            }
          }
        }
      }
    }
  }
  #add-doctor {
    .add-doctor {
      form {
        box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
        background-color: #1c2836;
        .form {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          .left,
          .right {
            width: 50%;
            .input-control {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                background-color: transparent;
                &::placeholder {
                  color: rgba(243, 243, 243, 0.795);
                }
              }
              select {
                border: 1px solid #384558e7;
                background-color: transparent;
                &:optional {
                  color: rgba(243, 243, 243, 0.795);
                  background-color: #1c2836;
                }
              }
            }
            .input-image {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                &::-webkit-file-upload-button {
                  visibility: hidden;
                }
                &::before {
                  font-weight: 300;
                  color: rgba(190, 190, 190, 0.726);
                }
              }
            }
          }
        }
      }
    }
  }
  #patients-list {
    .patients {
      h1 {
        color: #fff;
      }
      .links {
        a {
          color: #fff;
        }
      }
      .antd-icon {
        color: #fff;
      }
      .patients-list {
        .patient {
          .card {
            box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
            .about-patient {
              h4 {
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    #update-patient {
      form {
        box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
        background-color: #1c2836;
        .close {
          color: #fff;
        }
        .form {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          .left,
          .right {
            width: 50%;
            .input-control {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                background-color: transparent;
                color: #fff;
              }
              select {
                border: 1px solid #384558e7;
                background-color: transparent;
                color: #fff;
                &:optional {
                  background-color: #1c2836;
                }
              }
            }
            .input-image {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                &::-webkit-file-upload-button {
                  visibility: hidden;
                }
                &::before {
                  font-weight: 300;
                  color: rgba(190, 190, 190, 0.726);
                }
              }
            }
          }
        }
      }
    }
  }
  #add-patient {
    .add-patient {
      form {
        box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
        background-color: #1c2836;
        .form {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          .left,
          .right {
            width: 50%;
            .input-control {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                background-color: transparent;
                &::placeholder {
                  color: rgba(243, 243, 243, 0.795);
                }
              }
              select {
                border: 1px solid #384558e7;
                background-color: transparent;
                &:optional {
                  color: rgba(243, 243, 243, 0.795);
                  background-color: #1c2836;
                }
              }
            }
            .input-image {
              p {
                label {
                  color: #fff;
                }
              }
              input {
                border: 1px solid #384558e7;
                &::-webkit-file-upload-button {
                  visibility: hidden;
                }
                &::before {
                  font-weight: 300;
                  color: rgba(190, 190, 190, 0.726);
                }
              }
            }
          }
        }
      }
    }
  }
}
