.App .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10%;
}

.DarkMode {
  background-color: #1c2836;
}
.DarkMode .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10%;
}
.DarkMode #header .header .navbar nav ul li a {
  color: #fff;
}
.DarkMode #header .header .navbar nav ul li a .menu-arrow {
  border: solid #fff;
  border-radius: 0.5px;
  border-width: 0 2px 2px 0;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 10px;
  position: absolute;
  top: 5px;
}
.DarkMode #header .header .navbar nav ul li a.active {
  color: #396cf0;
}
.DarkMode #header .header .navbar nav ul li a.active .menu-arrow {
  border: solid #396cf0;
  border-radius: 0.5px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 10px;
  position: absolute;
  top: 5px;
}
.DarkMode #header .header .navbar nav ul li a:hover {
  color: #396cf0;
}
.DarkMode #header .header .navbar nav ul li a:hover .menu-arrow {
  border: solid #396cf0;
  border-radius: 0.5px;
  border-width: 0px 2px 2px 0px;
  padding: 2px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  position: absolute;
  top: 8px;
}
.DarkMode #header .header .settings-profil .user {
  border: 1px solid rgba(62, 76, 97, 0.9058823529) !important;
  box-shadow: 0px 0px 5px 0px rgba(74, 95, 124, 0.9058823529) !important;
  cursor: pointer;
}
.DarkMode #header .header .settings-profil .user:hover {
  border: 1px solid #485768 !important;
}
.DarkMode #header .header .settings-profil .user .fa-solid {
  color: #fff;
}
.DarkMode #header .background {
  background-color: rgba(0, 0, 0, 0.5411764706);
}
.DarkMode #header .background .search-now {
  background-color: #1c2836;
}
.DarkMode #header .background .search-now h1 {
  color: #fff;
}
.DarkMode #header .background .search-now .search .input-control {
  border: 1px solid rgba(57, 73, 92, 0.6039215686);
}
.DarkMode #header .background .search-now .search .input-control input {
  background-color: #1c2836;
  color: #fff;
}
.DarkMode #header #settings .background-setting {
  background-color: rgba(0, 0, 0, 0.5411764706);
}
.DarkMode #header #settings .settings {
  background-color: #1c2836;
}
.DarkMode #header #settings .settings .head {
  border-bottom: 1px solid rgba(57, 73, 92, 0.6039215686);
}
.DarkMode #header #settings .settings h4 {
  color: #fff;
}
.DarkMode #fixed-header {
  background-color: #1c2836;
  box-shadow: 0px 0px 3px 0px #2e4157;
}
.DarkMode #fixed-header .header .navbar nav ul li a {
  color: #fff;
}
.DarkMode #fixed-header .header .navbar nav ul li a .menu-arrow {
  border: solid #fff;
  border-radius: 0.5px;
  border-width: 0 2px 2px 0;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 10px;
  position: absolute;
  top: 5px;
}
.DarkMode #fixed-header .header .navbar nav ul li a.active {
  color: #396cf0;
}
.DarkMode #fixed-header .header .navbar nav ul li a.active .menu-arrow {
  border: solid #396cf0;
  border-radius: 0.5px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 10px;
  position: absolute;
  top: 5px;
}
.DarkMode #fixed-header .header .navbar nav ul li a:hover {
  color: #396cf0;
}
.DarkMode #fixed-header .header .navbar nav ul li a:hover .menu-arrow {
  border: solid #396cf0;
  border-radius: 0.5px;
  border-width: 0px 2px 2px 0px;
  padding: 2px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  position: absolute;
  top: 8px;
}
.DarkMode #fixed-header .header .settings-profil .user {
  border: 1px solid rgba(62, 76, 97, 0.9058823529) !important;
  box-shadow: 0px 0px 5px 0px rgba(74, 95, 124, 0.9058823529) !important;
  cursor: pointer;
}
.DarkMode #fixed-header .header .settings-profil .user:hover {
  border: 1px solid #485768 !important;
}
.DarkMode #fixed-header .header .settings-profil .user .fa-solid {
  color: #fff;
}
.DarkMode #fixed-header .background {
  background-color: rgba(0, 0, 0, 0.5411764706);
}
.DarkMode #fixed-header .background .search-now {
  background-color: #1c2836;
}
.DarkMode #fixed-header .background .search-now h1 {
  color: #fff;
}
.DarkMode #fixed-header .background .search-now .search .input-control {
  border: 1px solid rgba(57, 73, 92, 0.6039215686);
}
.DarkMode #fixed-header .background .search-now .search .input-control input {
  background-color: #1c2836;
  color: #fff;
}
.DarkMode #fixed-header #settings .background-setting {
  background-color: rgba(0, 0, 0, 0.5411764706);
}
.DarkMode #fixed-header #settings .settings {
  background-color: #1c2836;
}
.DarkMode #fixed-header #settings .settings .head {
  border-bottom: 1px solid rgba(57, 73, 92, 0.6039215686);
}
.DarkMode #fixed-header #settings .settings h4 {
  color: #fff;
}
.DarkMode #search-doctors .search-doctors .search h1 {
  color: #fff;
}
.DarkMode #search-doctors .search-doctors .search .input-control {
  border: 1px solid rgba(41, 53, 70, 0.9058823529) !important;
}
.DarkMode #search-doctors .search-doctors .search .input-control input {
  background-color: #1c2836;
}
.DarkMode #logos {
  background-color: #1f2d3d !important;
}
.DarkMode #categories {
  padding: 80px 0;
}
.DarkMode #categories .categories h1 {
  color: #fff;
}
.DarkMode #categories .categories .cards .card {
  box-shadow: 0px 0px 3px 0px rgba(41, 53, 70, 0.9058823529) !important;
}
.DarkMode #categories .categories .cards .card h4 {
  color: #fff;
}
.DarkMode #about .about h1 {
  color: #fff;
}
.DarkMode #about .about p {
  color: #9bacc4 !important;
}
.DarkMode #about .video .img .play-video a {
  background-color: #1c2836 !important;
}
.DarkMode #our-work .our-work .cards .card {
  background-color: #1c2836 !important;
}
.DarkMode #our-work .our-work .cards .card .text h4 {
  color: #fff;
}
.DarkMode #our-work .our-work .cards .card .text p {
  color: #9bacc4 !important;
}
.DarkMode #our-work .our-work .cards .card:hover {
  background-color: #305ccc !important;
}
.DarkMode #our-specialists .our-specialists h1 {
  color: #fff;
}
.DarkMode #our-specialists .our-specialists .head-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DarkMode #our-specialists .our-specialists .head-title p {
  color: #9bacc4 !important;
}
.DarkMode #our-specialists .our-specialists .cards-doctor .card {
  box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
}
.DarkMode #our-specialists .our-specialists .cards-doctor .card .about-doctor h4 a {
  color: #fff;
}
.DarkMode #our-specialists .our-specialists .cards-doctor .card .about-doctor .job {
  color: #9bacc4 !important;
}
.DarkMode #our-specialists .our-specialists .cards-doctor .card .about-doctor .star .star-count {
  color: #9bacc4 !important;
}
.DarkMode #our-specialists .our-specialists .cards-doctor .card .about-doctor .about-work span {
  color: #9bacc4 !important;
}
.DarkMode #question-answer .question-answer .accordion .ant-collapse {
  background-color: #1c2836 !important;
}
.DarkMode #question-answer .question-answer .accordion .ant-collapse .antd-icon {
  color: #fff !important;
}
.DarkMode #question-answer .question-answer .accordion .ant-collapse .antd-icon.blue {
  color: #305ccc !important;
}
.DarkMode #question-answer .question-answer .accordion .ant-collapse .ant-collapse-item {
  background-color: #1f2d3d !important;
  border: 1px solid #2e4157 !important;
}
.DarkMode #question-answer .question-answer .accordion .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text {
  color: #fff !important;
}
.DarkMode #question-answer .question-answer .accordion .ant-collapse .ant-collapse-item.blue .ant-collapse-header .ant-collapse-header-text {
  color: #305ccc !important;
}
.DarkMode #question-answer .question-answer .accordion .ant-collapse-content-box {
  background-color: #1c2836 !important;
  color: #9bacc4 !important;
}
.DarkMode #contact .contact h1 {
  color: #fff;
}
.DarkMode #contact .contact .head-title p {
  color: #9bacc4 !important;
}
.DarkMode #wishlist-page .wishlist-page {
  background-color: #1f2d3d;
}
.DarkMode #wishlist-page .wishlist-page .wishlist-head .header-team .head h1 {
  color: #fff;
}
.DarkMode #wishlist-page .wishlist-page .wishlist-head .header-team .links span a {
  color: #fff;
}
.DarkMode #wishlist-page .wishlist-page .wishlist-head .header-team .links span .antd-icon {
  color: #fff;
}
.DarkMode #wishlist-page .fav-doctors {
  background-color: #1c2836;
}
.DarkMode #wishlist-page .fav-doctors .cards .card {
  box-shadow: 0 0 2px 0px rgba(230, 227, 227, 0.15);
}
.DarkMode #wishlist-page .fav-doctors .cards .card .about-doctor h4 a {
  color: #fff;
}
.DarkMode #wishlist-page .fav-doctors .cards .card .about-doctor .job {
  color: #9bacc4 !important;
}
.DarkMode #wishlist-page .fav-doctors .cards .card .about-doctor .star .star-count {
  color: #9bacc4 !important;
}
.DarkMode #wishlist-page .fav-doctors .cards .card .about-doctor .about-work span {
  color: #9bacc4 !important;
}
.DarkMode #about-page #about-with-video .about-with-video h1 {
  color: #fff;
}
.DarkMode #about-page #departments .departments h1 {
  color: #fff;
}
.DarkMode #about-page #departments .about-depatrtments .card h4 {
  color: #fff;
}
.DarkMode #about-page #doctors .doctors h1 {
  color: #fff;
}
.DarkMode #about-page #doctors .doctors .cards-doctor .card .about-doctor h4 a {
  color: #fff;
}
.DarkMode #departments-page #departments .departments .card h4 {
  color: #fff;
}
.DarkMode #faqs-page #category h1 {
  color: #fff;
}
.DarkMode #faqs-page #category .cards .card h4 {
  color: #fff;
}
.DarkMode #faqs-page #questions .questions h1 {
  color: #fff;
}
.DarkMode #faqs-page #questions .questions .accordion .ant-collapse {
  background-color: #1c2836 !important;
}
.DarkMode #faqs-page #questions .questions .accordion .ant-collapse .antd-icon {
  color: #fff !important;
}
.DarkMode #faqs-page #questions .questions .accordion .ant-collapse .antd-icon.blue {
  color: #305ccc !important;
}
.DarkMode #faqs-page #questions .questions .accordion .ant-collapse .ant-collapse-item {
  background-color: #1f2d3d !important;
  border: 1px solid #2e4157 !important;
}
.DarkMode #faqs-page #questions .questions .accordion .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text {
  color: #fff !important;
}
.DarkMode #faqs-page #questions .questions .accordion .ant-collapse .ant-collapse-item.blue .ant-collapse-header .ant-collapse-header-text {
  color: #305ccc !important;
}
.DarkMode #faqs-page #questions .questions .accordion .ant-collapse-content-box {
  background-color: #1c2836 !important;
  color: #9bacc4 !important;
}
.DarkMode #faqs-page #still-questions .still-questions h1 {
  color: #fff;
}
.DarkMode #faqs-page #still-questions .still-questions .contact .card h4 {
  color: #fff;
}
.DarkMode #terms-policy-page #terms-policy {
  background-color: #1f2d3d;
}
.DarkMode #terms-policy-page #terms-policy .terms-policy .head h1 {
  color: #fff;
}
.DarkMode #terms-policy-page #terms-policy .terms-policy .head .links span a {
  color: #fff;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction {
  box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction h3 {
  color: #fff;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction p {
  color: #9bacc4 !important;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction .accordion .ant-collapse {
  background-color: #1c2836 !important;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction .accordion .ant-collapse .antd-icon {
  color: #fff !important;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction .accordion .ant-collapse .antd-icon.blue {
  color: #305ccc !important;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction .accordion .ant-collapse .ant-collapse-item {
  background-color: #1f2d3d !important;
  border: 1px solid #2e4157 !important;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction .accordion .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text {
  color: #fff !important;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction .accordion .ant-collapse .ant-collapse-item.blue .ant-collapse-header .ant-collapse-header-text {
  color: #305ccc !important;
}
.DarkMode #terms-policy-page #introduction .introduction-body .introduction .accordion .ant-collapse-content-box {
  background-color: #1c2836 !important;
  color: #9bacc4 !important;
}
.DarkMode #privacy-policy-page #privacy-policy {
  background-color: #1f2d3d;
}
.DarkMode #privacy-policy-page #privacy-policy .privacy-policy .head h1 {
  color: #fff;
}
.DarkMode #privacy-policy-page #privacy-policy .privacy-policy .head .links span a {
  color: #fff;
}
.DarkMode #privacy-policy-page #overview .overview .text {
  box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
}
.DarkMode #privacy-policy-page #overview .overview .text h3 {
  color: #fff;
}
.DarkMode #privacy-policy-page #overview .overview .text p {
  color: #9bacc4 !important;
}
.DarkMode #contact-page #contact-us .contact-us .contact form {
  box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
}
.DarkMode #contact-page #contact-us .contact-us .contact form h3 {
  color: #fff;
}
.DarkMode #contact-page #contact-us .contact-us .contact form .input-control p label {
  color: #fff;
}
.DarkMode #contact-page #contact-us .contact-us .contact form .input-control input {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
}
.DarkMode #contact-page #contact-us .contact-us .contact form .input-control input::placeholder {
  color: rgba(243, 243, 243, 0.795);
}
.DarkMode #contact-page #contact-us .contact-us .contact form .input-control textarea {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
}
.DarkMode #contact-page #contact-us .contact-us .contact form .input-control textarea::placeholder {
  color: rgba(243, 243, 243, 0.795);
}
.DarkMode #footer {
  background-color: #212f40;
}
.DarkMode #doctors-team .doctors-team {
  background-color: #1f2d3d;
}
.DarkMode #doctors-team .doctors-team .doctors .header-team .head h1 {
  color: #fff;
}
.DarkMode #doctors-team .doctors-team .doctors .header-team .head p {
  color: #9bacc4 !important;
}
.DarkMode #doctors-team .doctors-team .doctors .header-team .links {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 40px;
}
.DarkMode #doctors-team .doctors-team .doctors .header-team .links span a {
  color: #fff;
}
.DarkMode #doctors-team .doctors-team .doctors .header-team .links span .antd-icon {
  color: #fff;
}
.DarkMode #doctors-team .card-doctors-team {
  background-color: #1c2836;
}
.DarkMode #doctors-team .card-doctors-team .cards .card {
  box-shadow: 0 0 2px 0px rgba(230, 227, 227, 0.15);
}
.DarkMode #doctors-team .card-doctors-team .cards .card .about-doctor h4 a {
  color: #fff;
}
.DarkMode #doctors-team .card-doctors-team .cards .card .about-doctor .job {
  color: #9bacc4 !important;
}
.DarkMode #doctors-team .card-doctors-team .cards .card .about-doctor .star .star-count {
  color: #9bacc4 !important;
}
.DarkMode #doctors-team .card-doctors-team .cards .card .about-doctor .about-work span {
  color: #9bacc4 !important;
}
.DarkMode #admin-header {
  border-bottom: 1px solid rgba(52, 63, 78, 0.9058823529);
}
.DarkMode #admin-header .header .header-body {
  background-color: #1c2836;
}
.DarkMode #admin-header #settings .background-setting {
  background-color: rgba(0, 0, 0, 0.5411764706);
}
.DarkMode #admin-header #settings .settings {
  background-color: #1c2836;
}
.DarkMode #admin-header #settings .settings .head {
  border-bottom: 1px solid rgba(57, 73, 92, 0.6039215686);
}
.DarkMode #admin-header #settings .settings h4 {
  color: #fff;
}
.DarkMode .admin-navbar {
  border-right: 1px solid rgba(52, 63, 78, 0.9058823529);
  background-color: #1c2836;
}
.DarkMode .admin-navbar nav ul .nav-menu .icon .fa-solid {
  color: #9bacc4;
}
.DarkMode .admin-navbar nav ul .nav-menu a {
  color: #9bacc4;
}
.DarkMode #admin-page {
  background-color: #1f2d3d;
}
.DarkMode #admin-page .dashboard .body-admin h1 {
  color: #fff;
}
.DarkMode #doctors-list .doctors h1 {
  color: #fff;
}
.DarkMode #doctors-list .doctors .links a {
  color: #fff;
}
.DarkMode #doctors-list .doctors .antd-icon {
  color: #fff;
}
.DarkMode #doctors-list .doctors .doctors-list .doctor .card {
  box-shadow: 0 0 2px 0px rgba(221, 221, 221, 0.15);
}
.DarkMode #doctors-list .doctors .doctors-list .doctor .card .about-doctor h4 a {
  color: #fff;
}
.DarkMode #doctors-list #update-doctor form {
  box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
  background-color: #1c2836;
}
.DarkMode #doctors-list #update-doctor form .close {
  color: #fff;
}
.DarkMode #doctors-list #update-doctor form .form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.DarkMode #doctors-list #update-doctor form .form .left,
.DarkMode #doctors-list #update-doctor form .form .right {
  width: 50%;
}
.DarkMode #doctors-list #update-doctor form .form .left .input-control p label,
.DarkMode #doctors-list #update-doctor form .form .right .input-control p label {
  color: #fff;
}
.DarkMode #doctors-list #update-doctor form .form .left .input-control input,
.DarkMode #doctors-list #update-doctor form .form .right .input-control input {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
  color: #fff;
}
.DarkMode #doctors-list #update-doctor form .form .left .input-control select,
.DarkMode #doctors-list #update-doctor form .form .right .input-control select {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
  color: #fff;
}
.DarkMode #doctors-list #update-doctor form .form .left .input-control select:optional,
.DarkMode #doctors-list #update-doctor form .form .right .input-control select:optional {
  background-color: #1c2836;
}
.DarkMode #doctors-list #update-doctor form .form .left .input-image p label,
.DarkMode #doctors-list #update-doctor form .form .right .input-image p label {
  color: #fff;
}
.DarkMode #doctors-list #update-doctor form .form .left .input-image input,
.DarkMode #doctors-list #update-doctor form .form .right .input-image input {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
  color: #fff;
}
.DarkMode #add-doctor .add-doctor form {
  box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
  background-color: #1c2836;
}
.DarkMode #add-doctor .add-doctor form .form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.DarkMode #add-doctor .add-doctor form .form .left,
.DarkMode #add-doctor .add-doctor form .form .right {
  width: 50%;
}
.DarkMode #add-doctor .add-doctor form .form .left .input-control p label,
.DarkMode #add-doctor .add-doctor form .form .right .input-control p label {
  color: #fff;
}
.DarkMode #add-doctor .add-doctor form .form .left .input-control input,
.DarkMode #add-doctor .add-doctor form .form .right .input-control input {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
}
.DarkMode #add-doctor .add-doctor form .form .left .input-control input::placeholder,
.DarkMode #add-doctor .add-doctor form .form .right .input-control input::placeholder {
  color: rgba(243, 243, 243, 0.795);
}
.DarkMode #add-doctor .add-doctor form .form .left .input-control select,
.DarkMode #add-doctor .add-doctor form .form .right .input-control select {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
}
.DarkMode #add-doctor .add-doctor form .form .left .input-control select:optional,
.DarkMode #add-doctor .add-doctor form .form .right .input-control select:optional {
  color: rgba(243, 243, 243, 0.795);
  background-color: #1c2836;
}
.DarkMode #add-doctor .add-doctor form .form .left .input-image p label,
.DarkMode #add-doctor .add-doctor form .form .right .input-image p label {
  color: #fff;
}
.DarkMode #add-doctor .add-doctor form .form .left .input-image input,
.DarkMode #add-doctor .add-doctor form .form .right .input-image input {
  border: 1px solid rgba(56, 69, 88, 0.9058823529);
  background-color: transparent;
  color: #fff;
}/*# sourceMappingURL=App.css.map */