#patient-profile-page {
  #profile-header {
    width: 100%;
    height: 80vh;
    background-color: #f8f9fa;
    padding: 200px 0;
    .profile-head {
      .header-profile {
        display: flex;
        justify-content: center;
        .head {
          h1 {
            text-align: center;
            letter-spacing: 0.5px;
            font-size: 28px;
            line-height: 1.5;
            font-weight: 600;
          }
          p {
            text-align: center;
            color: #8b939b;
            max-width: 600px;
            font-size: 15px;
            line-height: 1.6;
            margin-top: 20px;
          }
        }
        .links-about {
          display: flex;
          justify-content: center;
          align-items: center;
          .links {
            width: 200px;
            padding: 8px 105px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            text-align: center;
            column-gap: 15px;
            margin-top: 40px;
            background-color: #fff;
            span {
              display: flex;
              align-items: center;
              column-gap: 10px;
              a {
                color: #212529;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1px;
                transition: all 0.5s;
                &.active {
                  color: #396cf0;
                }
                &:hover {
                  color: #396cf0;
                }
              }
              .antd-icon {
                font-size: 8px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
  #patient-profile {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    .patient {
      border: 1px solid #eeecec;
      width: 500px;
      .img {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        img {
          border-radius: 50%;
          width: 200px;
        }
      }
      .about-patient {
        padding: 25px;
        display: flex;
        justify-content: center;
        .about {
          width: 100%;
          display: flex;
          align-items: center;
          margin-top: 15px;
          h3 {
            color: #396cf0;
            letter-spacing: 0.5px;
            font-size: 28px;
            line-height: 1.5;
            font-weight: 600;
            text-align: center;
          }
          span {
            width: 120px;
            font-weight: 700;
            color: #212529;
            letter-spacing: 0.5px;
          }
          p {
            width: 160px;
            color: #8492a6;
            letter-spacing: 0.5px;
            font-weight: 600;
          }
        }
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          margin-top: 30px;
          button {
            padding: 10px 20px;
            outline: 0;
            cursor: pointer;
            font-size: 15px;
            letter-spacing: 0.5px;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            border-radius: 5px;
            background-color: rgba(57, 108, 240, 0.1);
            border: 1px solid rgba(57, 108, 240, 0.1);
            color: #396cf0;
            -webkit-box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
            box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
            font-size: 15px;
            &:hover {
              background-color: #305ccc;
              color: #fff;
            }
            &:disabled {
              border: 1px solid rgba(45, 45, 46, 0.1);
              background-color: rgba(189, 190, 192, 0.322);
              box-shadow: 0;
            }
          }
        }
      }
    }
  }
}
