#home-sections {
  #search-doctors {
    padding-top: 170px;
    .search-doctors {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search {
        width: 49%;
        h1 {
          font-size: 42px;
          letter-spacing: 1px;
          font-weight: 600;
        }
        p {
          color: #8492a6;
          font-size: 17px;
          line-height: 1.6;
          margin-top: 16px;
        }
        .input-control {
          margin-top: 20px;
          border: 1px solid #e9ecef;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          color: #212529;
          border-radius: 50px;
          input {
            width: 70%;
            outline: 0;
            border: 0;
            padding: 16px 30px;
            border-radius: 50px;
          }
          button {
            border-radius: 50px;
            padding: 16px 30px;
            border: 0;
            outline: 0;
            background-color: #396cf0;
            color: #fff;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
              background-color: #305ccc;
            }
          }
        }
        .note {
          margin-top: 10px;
          color: #8492a6;
          font-size: 15px;
          line-height: 1.6;
          span {
            font-weight: bolder;
          }
        }
      }
      .image {
        width: 50%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  #logos {
    background-color: #f8f9fa;
    .logos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0;
      .logo {
        img {
          width: 125px;
        }
      }
    }
  }
  #categories {
    padding: 80px 0;
    .categories {
      h1 {
        text-align: center;
        letter-spacing: 0.5px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 600;
      }
      .head-title {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          width: 600px;
          text-align: center;
          margin-top: 25px;
          color: #8492a6;
          line-height: 1.6;
          font-size: 15px;
        }
      }
      .cards {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .card {
          width: 18%;
          box-shadow: 0px 0px 3px 0px #e6e4e4;
          border-radius: 8px;
          padding: 25px 30px;
          h4 {
            font-size: 18px;
            font-weight: 600;
            margin-top: 10px;
          }
          p {
            color: #8492a6;
            line-height: 1.6;
            font-size: 15px;
            margin: 15px 0;
          }
          button {
            border: 0;
            outline: 0;
            background-color: transparent;
            color: #396cf0;
            font-size: 15px;
            cursor: pointer;
            .fa-solid {
              font-size: 14px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
  #about {
    width: 100%;
    padding-bottom: 112px;
    padding-top: 40px;
    position: relative;
    .about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .head {
        background-color: rgba(57, 108, 240, 0.1);
        border: 1px solid rgba(57, 108, 240, 0.1);
        border-radius: 50rem;
        color: #396cf0;
        font-size: 11px;
        display: inline-block;
        letter-spacing: 0.5px;
        padding: 4px 8px;
        font-weight: 600;
        text-align: center;
      }
      h1 {
        margin: 16px 0;
        letter-spacing: 0.5px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 600;
        font-size: 24px;
      }
      p {
        margin-bottom: 16px;
        color: #8492a6;
        line-height: 1.6;
        font-size: 15px;
      }
      button {
        padding: 10px 20px;
        outline: 0;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.5px;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        border-radius: 5px;
        background-color: rgba(57, 108, 240, 0.1);
        border: 1px solid rgba(57, 108, 240, 0.1);
        color: #396cf0;
        -webkit-box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
        box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
        font-size: 15px;
        &:hover {
          background-color: #305ccc;
          color: #fff;
        }
      }
    }
    .video {
      .img {
        position: relative;
        img {
          width: 460px;
        }
        .play-video {
          position: absolute;
          bottom: 50%;
          z-index: 2;
          -webkit-transform: translateY(50%);
          transform: translateY(50%);
          right: 0;
          left: 0;
          text-align: center;
          a {
            display: inline-block;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px #396cf0;
            width: 75px;
            height: 75px;
            font-size: 25px;
            border-radius: 50%;
            line-height: 70px;
            display: inline-block;
            background-color: #fff;
            transition: all 0.4s;
            cursor: pointer;
            &:hover {
              -webkit-text-fill-color: #396cf0;
            }
            .fa-solid {
              font-size: 18px;
            }
          }
        }
      }
    }
    .youtube-video {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 8;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #142130ef;
      iframe {
        border: 0;
        box-shadow: 0 0 1px 0 rgba(194, 207, 240, 0.3);
      }
      .close {
        position: absolute;
        right: 50px;
        top: 50px;
        font-size: 36px;
        color: #e9ecef;
        cursor: pointer;
      }
    }
  }
  #our-work {
    background-image: linear-gradient(
        to bottom,
        rgba(99, 113, 133, 0.325),
        rgba(99, 113, 133, 0.325)
      ),
      url("../../../assets/images/background2.jpg");
    background-position: center;
    .our-work {
      padding: 80px 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .cards {
        margin-top: 20px;
        .card {
          display: flex;
          justify-content: center;
          column-gap: 20px;
          background-color: #fff;
          margin-bottom: 20px;
          border-radius: 10px;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
          border: 0;
          padding: 1.5rem;
          position: relative;
          z-index: 3;
          .icon {
            margin-top: 8px;
            .fa-solid {
              font-size: 30px;
              font-weight: 600;
              color: #305ccc;
              transition: all 0.5s ease;
            }
          }
          .text {
            width: 320px;
            h4 {
              font-size: 16px;
              font-weight: 600;
              transition: all 0.5s ease;
            }
            p {
              font-size: 14px;
              color: #8492a6;
              line-height: 1.6;
              margin-top: 10px;
            }
          }
          &:hover {
            background-color: #305ccc;
            .fa-solid {
              color: #fff;
            }
            .text {
              h4 {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  #question-answer {
    padding: 80px 0;
    .question-answer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img {
        img {
          width: 480px;
        }
      }
      .accordion {
        .ant-collapse {
          margin-top: 40px;
          position: relative;
          .antd-icon {
            color: #000;
            font-weight: 900;
            position: absolute;
            right: 20px;
            flex-direction: column;
            width: 1em;
            height: 0.8em;
            &.blue {
              color: #305ccc;
              font-weight: 900;
              position: absolute;
              right: 20px;
              flex-direction: column;
              width: 1em;
              height: 0.8em;
            }
          }
          .ant-collapse-item {
            width: 540px;
            background-color: #f8f9fa !important;
            border-radius: 5px !important;
            border: 1px solid #e9ecef !important;
            .ant-collapse-header {
              padding: 16px 0;
              .ant-collapse-header-text {
                color: #000;
                font-weight: 600;
              }
            }
            &.blue {
              .ant-collapse-header {
                .ant-collapse-header-text {
                  color: #305ccc;
                }
              }
            }
          }
        }
        .ant-collapse-content-box {
          padding: 16px 20px;
          background-color: #fff !important;
        }
      }
    }
  }
  #contact {
    padding-bottom: 100px;
    .contact {
      h1 {
        text-align: center;
        letter-spacing: 0.5px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 600;
      }
      .head-title {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          width: 600px;
          text-align: center;
          margin-top: 25px;
          color: #8492a6;
          line-height: 1.6;
          font-size: 15px;
        }
      }
      .btn {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        button {
          padding: 10px 20px;
          outline: 0;
          border: 0;
          font-size: 15px;
          letter-spacing: 0.5px;
          background-color: #396cf0;
          color: #fff;
          font-size: 15px;
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
          border-radius: 5px;
          cursor: pointer;
          .fa-solid {
            color: #fff;
            font-size: 13px;
            margin-right: 4px;
          }
          &:hover {
            background-color: #305ccc;
          }
        }
      }
    }
  }
}
