#header {
  padding: 20px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    position: relative;
    @media only screen and (max-width: 990px) {
    }
    .navbar {
      display: flex;
      align-items: center;
      column-gap: 60px;
      nav {
        @media only screen and (max-width: 990px) {
          display: none;
        }
        ul {
          display: flex;
          align-items: center;
          column-gap: 50px;
          li {
            position: relative;
            a {
              color: black;
              font-size: 13px;
              font-weight: 600;
              letter-spacing: 1px;
              transition: all 0.5s;
              .menu-arrow {
                border: solid #212529;
                border-radius: 0.5px;
                border-width: 0 2px 2px 0;
                padding: 2px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                margin-left: 10px;
                position: absolute;
                top: 5px;
              }
              &.active {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  margin-left: 10px;
                  position: absolute;
                  top: 5px;
                }
              }
              &:hover {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0px 2px 2px 0px;
                  padding: 2px;
                  -webkit-transform: rotate(225deg);
                  transform: rotate(225deg);
                  position: absolute;
                  top: 8px;
                }
              }
            }
          }
        }
      }
    }
    .active-menu {
      width: 100%;
      display: block;
      flex-direction: column;
      column-gap: 50px;
      nav {
        position: absolute;
        z-index: 7;
        top: 40px;
        width: 100%;
        ul {
          background-color: #fff;
          padding: 25px 5px;
          li {
            position: relative;
            margin-top: 20px;
            a {
              color: black;
              font-size: 13px;
              font-weight: 600;
              letter-spacing: 1px;
              transition: all 0.5s;
              .menu-arrow {
                border: solid #212529;
                border-radius: 0.5px;
                border-width: 0 2px 2px 0;
                padding: 2px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                margin-left: 20px;
                position: absolute;
                top: 5px;
              }
              &.active {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  margin-left: 10px;
                  position: absolute;
                  top: 5px;
                }
              }
              &:hover {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0px 2px 2px 0px;
                  padding: 2px;
                  -webkit-transform: rotate(225deg);
                  transform: rotate(225deg);
                  position: absolute;
                  top: 8px;
                }
              }
            }
          }
        }
      }
    }
    .settings-profil {
      display: flex;
      column-gap: 8px;
      align-items: center;
      .setting-search {
        width: 36px;
        height: 36px;
        background-color: #396cf0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        .fa-solid {
          color: #fff;
          font-size: 14px;
        }
        &:hover {
          background-color: #2b51b4;
        }
      }
      .user-setting {
        position: relative;
        .user {
          width: 36px;
          height: 36px;
          border: 1px solid #d4d4d4;
          box-shadow: 0px 0px 5px 0px #d4d4d4;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover {
            border: 1px solid #396cf0;
          }
          .fa-solid {
            color: #2b51b4;
            font-size: 15px;
          }
          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
        }
        .user-profile {
          width: 140px;
          position: absolute;
          right: 5px;
          top: 56px;
          box-shadow: 0px 0px 3px 0px rgb(219, 219, 219);
          background-color: #fff;
          border-radius: 5px;
          padding: 10px 20px;
          ul {
            li {
              margin-top: 10px;
              a {
                color: #212529;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;
                transition: all 0.5s;
                .fa-solid {
                  font-size: 13px;
                  margin-right: 8px;
                  transition: all 0.5s;
                }
                &.active {
                  color: #396cf0;
                  .fa-solid {
                    color: #396cf0;
                  }
                }
                &:hover {
                  color: #305ccc;
                  transition: all 0.5s;
                  .fa-solid {
                    color: #305ccc;
                  }
                }
              }
            }
          }
          .patient-profile {
            h4 {
              color: #2b51b4;
              font-size: 14px;
              line-height: 1.5;
              margin: 10px 0;
            }
            .btn {
              margin-top: 10px;
              button {
                padding: 5px 5px;
                outline: 0;
                cursor: pointer;
                font-size: 12px;
                letter-spacing: 0.5px;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
                border-radius: 5px;
                background-color: rgba(57, 108, 240, 0.1);
                border: 1px solid rgba(57, 108, 240, 0.1);
                color: #396cf0;
                -webkit-box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
                box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
                font-size: 11px;
                font-weight: 600;
                .fa-solid {
                  margin-right: 4px;
                }
                &:hover {
                  background-color: #416cd8;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .menu-item {
        display: none;
        @media only screen and (max-width: 990px) {
          display: block;
        }
        .menu {
          width: 36px;
          height: 36px;
          background-color: #305ccc;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.4s;
          .fa-solid {
            color: #fff;
            font-size: 12px;
          }
        }
      }
    }
  }
  .background {
    background-color: #21252998;
    width: 100%;
    height: 100vh;
    .search-now {
      width: 100%;
      background-color: #fff;
      padding: 45px 0;
      height: 200px;
      position: fixed;
      top: 0;

      h1 {
        text-align: center;
        color: #212529;
        font-weight: 600;
        font-size: 24px;
      }
      .search {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .input-control {
          margin-top: 20px;
          border: 1px solid #e9ecef;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          color: #212529;
          border-radius: 50px;
          input {
            width: 80%;
            outline: 0;
            border: 0;
            padding: 16px 28px;
            border-radius: 50px;
            font-size: 15px;
          }
          button {
            border-radius: 50px;
            padding: 14px 25px;
            font-size: 15px;
            margin-right: 2px;
            border: 0;
            outline: 0;
            background-color: #396cf0;
            color: #fff;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
              background-color: #305ccc;
            }
          }
        }
      }
      .close-search {
        width: 100%;
        height: 80vh;
      }
    }
  }
  #settings {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
    display: flex;
    .background-setting {
      background-color: #21252998;
      width: 75%;
      height: 100vh;
    }
    .settings {
      width: 25%;
      height: 100vh;
      background-color: #fff;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #eeecec;
        .close-settings {
          font-size: 26px;
          color: #c9c9c9;
          cursor: pointer;
        }
      }
      .img {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        img {
          width: 240px;
          border-radius: 10px;
          box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2);
          cursor: pointer;
        }
      }
      h4 {
        margin-top: 15px;
        color: #212529;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

#fixed-header {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 3px 0px #e6e4e4;
  height: 75px;
  padding-top: 20px;
  position: fixed;
  z-index: 4;
  top: 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar {
      display: flex;
      align-items: center;
      column-gap: 60px;
      nav {
        @media only screen and (max-width: 990px) {
          display: none;
        }

        ul {
          display: flex;
          align-items: center;
          column-gap: 50px;
          li {
            position: relative;
            a {
              color: black;
              font-size: 13px;
              font-weight: 600;
              letter-spacing: 1px;
              transition: all 0.5s;
              .menu-arrow {
                border: solid #212529;
                border-radius: 0.5px;
                border-width: 0 2px 2px 0;
                padding: 2px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                margin-left: 10px;
                position: absolute;
                top: 5px;
              }
              &.active {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  margin-left: 10px;
                  position: absolute;
                  top: 5px;
                }
              }
              &:hover {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0px 2px 2px 0px;
                  padding: 2px;
                  -webkit-transform: rotate(225deg);
                  transform: rotate(225deg);
                  position: absolute;
                  top: 8px;
                }
              }
            }
          }
        }
      }
    }
    .active-menu {
      width: 100%;
      display: block;
      flex-direction: column;
      column-gap: 50px;
      nav {
        position: absolute;
        z-index: 7;
        top: 70px;
        width: 100%;
        ul {
          background-color: #fff;
          padding: 25px 5px;
          li {
            position: relative;
            margin-top: 20px;
            a {
              color: black;
              font-size: 13px;
              font-weight: 600;
              letter-spacing: 1px;
              transition: all 0.5s;
              .menu-arrow {
                border: solid #212529;
                border-radius: 0.5px;
                border-width: 0 2px 2px 0;
                padding: 2px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                margin-left: 20px;
                position: absolute;
                top: 5px;
              }
              &.active {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  margin-left: 10px;
                  position: absolute;
                  top: 5px;
                }
              }
              &:hover {
                color: #396cf0;
                .menu-arrow {
                  border: solid #396cf0;
                  border-radius: 0.5px;
                  border-width: 0px 2px 2px 0px;
                  padding: 2px;
                  -webkit-transform: rotate(225deg);
                  transform: rotate(225deg);
                  position: absolute;
                  top: 8px;
                }
              }
            }
          }
        }
      }
    }
    .settings-profil {
      display: flex;
      column-gap: 8px;
      align-items: center;
      .setting-search {
        width: 36px;
        height: 36px;
        background-color: #396cf0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        .fa-solid {
          color: #fff;
          font-size: 14px;
        }
        &:hover {
          background-color: #2b51b4;
        }
      }
      .user-setting {
        position: relative;
        .user {
          width: 36px;
          height: 36px;
          border: 1px solid #d4d4d4;
          box-shadow: 0px 0px 5px 0px #d4d4d4;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover {
            border: 1px solid #396cf0;
          }
          .fa-solid {
            color: #2b51b4;
            font-size: 15px;
          }
          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
        }
        .user-profile {
          width: 140px;
          position: absolute;
          right: 5px;
          top: 56px;
          background-color: #fff;
          box-shadow: 0px 0px 3px 0px rgb(219, 219, 219);
          border-radius: 5px;
          padding: 10px 20px;
          .patient-profile {
            h4 {
              color: #2b51b4;
              font-size: 14px;
              line-height: 1.5;
              margin: 10px 0;
            }
            .btn {
              margin: 10px 0;
              button {
                padding: 5px 5px;
                outline: 0;
                cursor: pointer;
                font-size: 12px;
                letter-spacing: 0.5px;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
                border-radius: 5px;
                background-color: rgba(57, 108, 240, 0.1);
                border: 1px solid rgba(57, 108, 240, 0.1);
                color: #396cf0;
                -webkit-box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
                box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
                font-size: 11px;
                font-weight: 600;
                .fa-solid {
                  margin-right: 4px;
                }
                &:hover {
                  background-color: #416cd8;
                  color: #fff;
                }
              }
            }
          }
          ul {
            li {
              margin-top: 10px;
              a {
                color: #212529;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;
                transition: all 0.5s;
                .fa-solid {
                  font-size: 13px;
                  margin-right: 8px;
                  transition: all 0.5s;
                }
                &.active {
                  color: #396cf0;
                  .fa-solid {
                    color: #396cf0;
                  }
                }
                &:hover {
                  color: #305ccc;
                  transition: all 0.5s;
                  .fa-solid {
                    color: #305ccc;
                  }
                }
              }
            }
          }
        }
      }
      .menu-item {
        display: none;
        @media only screen and (max-width: 990px) {
          display: block;
        }
        .menu {
          width: 36px;
          height: 36px;
          background-color: #305ccc;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.4s;
          .fa-solid {
            color: #fff;
            font-size: 12px;
          }
        }
      }
    }
  }
  .background {
    background-color: #21252998;
    width: 100%;
    height: 100vh;
    .search-now {
      width: 100%;
      background-color: #fff;
      padding: 45px 0;
      height: 200px;
      position: fixed;
      top: 0;
      h1 {
        text-align: center;
        color: #212529;
        font-weight: 600;
        font-size: 24px;
      }
      .search {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .input-control {
          margin-top: 20px;
          border: 1px solid #e9ecef;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          color: #212529;
          border-radius: 50px;
          input {
            width: 80%;
            outline: 0;
            border: 0;
            padding: 16px 28px;
            border-radius: 50px;
            font-size: 15px;
          }
          button {
            border-radius: 50px;
            padding: 14px 25px;
            font-size: 15px;
            margin-right: 2px;
            border: 0;
            outline: 0;
            background-color: #396cf0;
            color: #fff;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
              background-color: #305ccc;
            }
          }
        }
      }
    }
    .close-search {
      width: 100%;
      height: 80vh;
    }
  }
  #settings {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
    display: flex;
    .background-setting {
      background-color: #21252998;
      width: 75%;
      height: 100vh;
    }
    .settings {
      width: 25%;
      height: 100vh;
      background-color: #fff;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #eeecec;
        .close-settings {
          font-size: 26px;
          color: #c9c9c9;
          cursor: pointer;
        }
      }
      .img {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        img {
          width: 240px;
          border-radius: 10px;
          box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2);
          cursor: pointer;
        }
      }
      h4 {
        margin-top: 15px;
        color: #212529;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.ant-dropdown {
  .ant-dropdown-menu {
    margin-top: 22px;
    box-shadow: 0px 0px 3px 0px rgb(219, 219, 219);
    border-radius: 5px;
    padding: 15px 35px 15px 5px;
    .ant-dropdown-menu-item {
      .ant-dropdown-menu-title-content {
        a {
          color: black;
          font-size: 11px;
          font-weight: 600;
          letter-spacing: 1px;
          transition: all 0.5s;
          .blog-item {
            background-color: #fff;
            box-shadow: 0px 0px 3px 0px rgb(219, 219, 219);
            width: 160px;
            border-radius: 5px;
            position: absolute;
            left: 168px;
            top: -4px;
            padding: 15px 50px 15px 15px;
            li {
              padding-top: 15px;
            }
          }
          .blog-arrow {
            border: solid #212529;
            border-radius: 0.5px;
            border-width: 2px 2px 0px 0;
            padding: 2px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            margin-left: 80px;
            position: absolute;
            top: 13px;
          }
          &.active {
            color: #396cf0;
          }
          &:hover {
            color: #396cf0;
            .blog-arrow {
              border: solid #396cf0;
              border-radius: 0.5px;
              border-width: 2px 2px 0px 0;
              padding: 2px;
            }
          }
        }
      }
      &:hover {
        background-color: #fff;
      }
    }
  }
}
